body {
  background-color:#393646;
  height: 100%;
}
  
.cbgdh1{
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}

.bgdh1{
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  border-radius: 10em;
  background-color: #F4EEE0;
  justify-content: center;
  margin-bottom: 7%;
  height: 100px;
  border-style: none;
  box-shadow: #967E76 0px 10px 6px;
  box-sizing: border-box;
  color: #000000;
  margin-top: 2%;
}

h1 {
  color: #2c2a36;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px #967E76;
}

h2{
  color: #F4EEE0;
  font-size: 70px;
  text-align: center;
  margin-left: 5%;
}

h3{
  color: #F4EEE0;
  font-size: 30px;
  text-align: center;
}

h4{
  color: #F4EEE0;
  font-size: 30px;
  text-align: center;
  margin-left: 5%;
}

a {
  font-family:Georgia;
  font-size: 20px;
  color: #F4EEE0;
}

input[type=text] {
  width: 300px;
  padding: 10px 20px;
  margin: 40px 5px;
  box-sizing: border-box;
  border: 2px solid #F4EEE0;
  border-radius: 20em;
}


.corps{
  position: relative;
  display: flex;
  width: 100%;
}


.txt{
  width: 50%;
  margin-left: 1%;
  align-items: center;
}

.life {
  position: relative;
  display: flex;
  width: 300px;
  margin-bottom: 2%;
}

.entry{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:90%;
}

.buttons{
  position: absolute;
  display: flex;
  justify-content: center;
}

.btn{
  align-items: center;
  margin: 0 10px;
}


.button-send {
  appearance: none;
  background-color: #F4EEE0;
  border-radius: 40em;
  border-style: none;
  box-shadow: #967E76 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: -apple-system, Georgia;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-send:hover {
  background-color: #F4EEE0;
  box-shadow:  #967E76 0 -6px 8px inset;
  transform: scale(1.125);
  color: #000000;
}

.button-send:active {
  transform: scale(1.025);
}

.hangman {
  position: relative;
  display: flex;
  width: 30%;
  float: none;
  margin-top: 3%;
  margin-left: 5%;
}

.choice{
  position: relative;
  display: flex;
  align-items: center;
  height: 10%;
  margin-top: -7%;
  width: 100%;
}

.word{
  position: relative;
  display: flex;
  align-items: center;
  height: 30%;
  width: 70%;
}

.complete{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: auto;
  height: 30%;
  left: 2%;
}

.letters{
  align-items: center;
  width: 200px;
  margin: 0 2%;
}

.whidden{
  position: relative;
  align-items: center;
  width: auto;
  margin: 0 2%;
}

.message{
  position: relative;
  align-items: center;
  margin: 0 3%;
}




@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 6vw;
  }

  a {
    font-size: 3vw;
  }

  .input-group input[type=text] {
    width: 100%;
  }

  .button-send,
  .button-word {
    font-size: 4vw;
  }

  .corps {
    flex-direction: column;
  }

  .txt,
  .life,
  .entry,
  .hangman {
    width: 50%;
  }
  .choice,
  .word,
  .complete,
  .letters,
  .cworld {
    width: 100%;
  }
}
