<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="stylesheet" href="/assets/css/rules.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    
</head>

<body>
    <div class="cbgdh1">
        <div class="bgdh1">
            <h1>Hangman Rules</h1>
        </div>
    </div>
    <pa>Hangman is a word-guessing game where a player tries to guess a word by suggesting letters one at a time. </pa>  
    <div class="title">
        <p><span class="centerP"> Here are the basic rules :</span></p>
    </div>

    <ul >
        <li>The game begins with a secret word.</li>
        <li>The player proposes one letter at a time or a word.</li>
        <li>If the letter is in the word, it is revealed at all positions where it appears.</li>
        <li>If the letter is not in the word, or if the word they guess wasn't the word, a part of the hangman is drawn. The player has 10 attempts.</li>
        <li>The player wins if they manage to guess the word before using all their attempts.</li>
        <li>The player loses if they run out of attempts without guessing the word.</li>
    </ul>

    <div class="cending">
        <div class="ending">
            <p><span class="centerP"></span>Enjoy playing Hangman !</span></p>
        </div>
    </div>

    <div class="btnretour">
        <form action="/" method="POST"> 
            <input class="button-play" type="submit" value="Homepage">
        </form>
    </div>
</body>

</html>
