<!DOCTYPE html>

<html>
    <head>
        <title>WIN</title>
        <link rel="stylesheet" href="/assets/css/victoire.css">
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    </head>
    <body>
        <div class="texte">
             <h1>You won !</h1>
                <p>Congratulations, you are now on the scoreboard :)</p>
        </div>
    <div class="button">
        <div class="button-retour">
            <form action="/" method="POST" autocomplete="off">  
                <input class="button-send" type="submit" value="Back to homepage">
            </form>
        </div>
        <div class="button-score">
            <form action="/scoreboard" method="POST" autocomplete="off"> 
                <input class="button-send" type="submit" value="Scoreboard">
            </form>
        </div>
    </div>
        <div class="image">
            <img src="/assets/images/trophyWin.png">
        </div>
    </body>